//big button
.big-button{
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color:rgb(247, 244, 244);
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}
.big-button:disabled{
    opacity: .6;
}
@media(min-width: $desktop-break-point){
    margin-bottom: $xl-size;
}
//small button
.button{
    background: $purple;
    border:none;
    border-bottom: .6 solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}
.button--link{
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}